.fade-button{
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    line-height: 60px;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: sans-serif;
    color: white;
    overflow: hidden;
}

.fade-button:hover{
    border: none;
}

.fade-button span{
    display: block;
    background: white;
    transition: .2s;
}

.fade-button span:nth-child(1),
.fade-button span:nth-child(3)
{
    position: absolute;
    height: 2px;
    width: 100%;

}
.fade-button span:nth-child(2),
.fade-button span:nth-child(4)
{
    position: absolute;
    height: 100%;
    width: 2px;
    
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    transition-delay: 0s;
}
.fade-button span:nth-child(2)
{
    top: -100%;
    right: 0;
    transition-delay: .2s;
}
.fade-button span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    transition-delay: .4s;
}
.fade-button span:nth-child(4)
{
    bottom: -100%;
    left: 0%;
    transition-delay: .6s;
}


.fade-button:hover span:nth-child(1)
{
    top: 0;
    left: 0;
}
.fade-button:hover span:nth-child(2)
{
    top: 0%;
    right: 0;
}
.fade-button:hover span:nth-child(3)
{
    bottom: 0;
    right: 0;
}
.fade-button:hover span:nth-child(4)
{
    bottom: 0%;
    left: 0;
}
