<header>
    <div>
        <div>
            <ul>
                <li><a>Sprog</a></li>
                <li><a href="about">Om SMK OPEN</a></li>
                <li><a href="mylist">Min liste (0)</a></li>
                <li><a href="theme">Temaer</a></li>
                <li><a href="search">Søg</a></li>
                <li style="left: 20px;"><a href="/"><img src="/assets/pictures/smk-open.png" style="width: 9%; height: auto; position: absolute; left: 7%;" alt="Home" /></a></li>
            </ul>
        </div>
    </div>
</header>