ul {
    list-style: none;
    margin-right: 90px;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

li {
    float: right;
}

li a {
    margin-right: 10px;
    display: block;
    font-size: 18px;
    color: rgba(158, 158, 158, 0.962);
    padding: 10px;
    text-decoration: none;
    font-family: "Hill-bold";
}

li a:hover {
    color: white;
    transform: 0.2s;
}