.search-bar{
    position: absolute;
    border: none;
    right: 9%;
    top: 22%;
    max-width: 35%;
    width: 100%;
    height: 7%;
    font-size: 38px;
    font-family: "Hill-light";
    background-color: #111111;
    color: rgb(245, 245, 245);
}

.search-bar:focus{
    outline: none;
}

.sub-help{
    position: absolute;
    top: 32%;
    right: 37%;
    font-family: "Hill";
    color: #9e9e9e;
}

img:hover{
    cursor: pointer;
}

.picturecontainer{
    position: absolute;
    top: 40%;
    left: 31px;
}